.container {
  left: 0;
  right: 0;
  background-color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  /* margin-top: 70px; */
}

.analysis-box {
  display: flex;
  flex:wrap;
  object-fit:contain;
  justify-content: center;
  margin-top:5px;
  background-color: #ffffff;
  height:50px;
  opacity:1;
  align-items: center;
}

.analysis-box h5 {
  margin-left: 5px;
}

.analysis-box input {
  padding: 8px;
  border: 1px solid #ccc;
  margin-left:10px;
  margin-right: 10px;
  border-radius: 3px;
}

.submit_button {
  background: #f0c14b;
  border-radius: 2px;
  width: 100px;
  height: 30px;
  border: 1px solid;
  margin-left:10px;
  border-color: #a88734 #9c7e31 #846a29;
} 

.subheader{
  display:flex;
}

.submit_button:hover {
  background-color: orange;
}

.studentPresent{
  margin-top:5%;
  margin-left:10%
}

.course_student{
  display:flex;
  margin-top:10px;
}

.info-box ul li span {
  font-weight: bold;
}

.info-box ul ul {
  margin-top: 5px;
  margin-left: 20px;
}
.info-box h3 {
  margin-bottom: 10px;
  color: #333;
}

.info-box ul {
  list-style: none;
  padding-left: 0;
}

.info-box ul li {
  position: relative;
  padding-left: 25px;
  margin-bottom: 15px;
  line-height: 1.4;
}

.info-box ul li:before {
  content: '\2022';
  position: absolute;
  left: 0;
  color: #3498db;
  font-size: 16px;
}

.sub-list {
  list-style-type: disc; 
  margin-top: 5px;
  margin-left: 20px;
}

.info-button {
  align-items: center;
}

.info-icon {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
  color:  #282A35;
}

.info-dropdown {
  position: absolute;
  right:1%;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  width: 600px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  animation: fadeInDown 0.3s ease-out;
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* 

.info-box ul li span {
  font-weight: bold;
}

.info-box ul ul {
  margin-top: 5px;
  margin-left: 20px;
  }
  
  */

.Analysis-home{
  text-align: center;
}