.Home {
  display: flex;
  flex-direction: column;
  background-color: #f5f5f5; /* Add a background color */
  height: 90vh; /* Make sure the container takes the full viewport height */
}

.college {
  display: flex;
  align-items: center;
  padding-top: 5px;

}
.college img{
  margin-right : 10px;
}

.college-name{
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.home-content{
  margin-top: 20px;
  display: flex;
  justify-content: center;
  font-size: 20px;
}

.image-container {
  display: flex;
  flex-direction: row;
  gap : 20px;
  align-items: center; /* Optional: Centers images vertically */
}

.instructions{
  font-size: 20px;
  display: flex;
  flex-direction: row;
  gap : 160px;
  align-items: center;
}

.image-container img {
  margin-right: 10px; /* Adjust the right margin to control the gap between images */
}
.arrow{
  font-size : 80px;
  margin : 0 30px;
}


.portal-title {
  margin-top: 10px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color:#9c7e31;
  display : flex;
  justify-content: center;
}

.image-upload-portal-title{
  margin-top: 20px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
  display : flex;
  justify-content: center;
}

.upload-page-upper-div{
  margin-bottom: -60px;
}
.upload-page-lower-div{

}
.Home > h1 {
  margin-top: 20px;
  margin-left: 10px;
  color: black;
}

.Home-image {
  object-fit: contain;
  width: 50px;
}

.custom-tick-position{
  color:lawngreen;
  vertical-align: middle;
  margin-top: 5px;
  margin-left : 3px;
}

.Home_upload_button {
  background: #f0c14b;
  border-radius: 2px;
  width: 200px;
  height: 30px;
  border: 1px solid;
  margin-top: 10px;
  border-color: #a88734 #9c7e31 #846a29;
  cursor: pointer; /* Add pointer cursor for better UX */
  transition: background-color 0.3s; /* Add a smooth transition for the background color */
}

.Home_upload_button:hover {
  background-color: #e0b740; /* Change the background color on hover */
}

.button {
  display: flex; /* Change to display: flex to center the button */
  width: 340px;
  justify-content: center;
  align-items: center;
  margin-top: 120px;
}

.out-container {
  background-color: white;
  height: 100%; /* Use 100% instead of 100vh for better compatibility */
  display: flex;
  flex-direction: column;
  align-items: center;
}
